<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>CyberTiger Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header>
        <h1>🐯 CyberTiger Web</h1>
        <nav>
            <a href="/">🏠 Accueil</a>
            <a href="/credits">📜 Crédits</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2025 CyberTiger – Outils OSINT & Cybersécurité. Utilisation éducatif uniquement.</p>
    </footer>

</body>
</html>
